@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

*{
    font-family:'Space Grotesk';
    box-sizing:border-box;
    padding:0;
    margin:0;
}

:root {
    --input-error:(hsl(0, 100%, 66%));
    --input-active-start: hsla(249, 48%, 35%, 0.753);
    --input-active-end: hsl(278, 94%, 30%);
    --dark-purple-font:

}

body {
    align-items: center;
    height:100vh;
    overflow:hidden;
}



.content-container {
    position:relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:4em;
    margin:2px;
    min-height:100vh;
}




.card-wrap {
    margin-top:10px;
    max-width:550px;
}

.credit-card-info-wrap {
    position:relative;
    bottom:-20px;
    display:flex;
    flex-direction:column ;
    align-items: left;
}

.card {
    width: 320px;
    height: 190px;
    color:white;
    border-radius: 12px;
    padding: 40px 10px;
    position:relative;
    transition:transform 300ms ease-in;
}




.credit-card .card-number, .card-details, .card-holder, .card-info {
    display:flex;
}

.credit-card {
    background: url(./images/bg-card-front.png) center/cover no-repeat;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    z-index:2;
    bottom:-10px;
}
.credit-card-logo {
    position:relative;
    bottom:20px;
    left:10px;
    width:60px;
}

.card-info {
    justify-content: space-between;
    align-items: center;
    width:95%;
}


.card-number {
    font-size: 21px;
    letter-spacing:1px;
    justify-content: left;
    margin-left:10px;
    margin-bottom:10px;
}

.card-details {
    justify-content: space-around;
    align-items: flex-start;
}

.card-holder {
    font-size: 15px;
    padding: 5px;
}

.expiration {
    font-size: 13px;
}


.cvc-card {
    color: white;
    background: url(./images/bg-card-back.png) center/cover no-repeat;
    z-index:1;
}

.card-cvc-info {
    position:relative;
    top:45px;
    left:240px;
    font-size:13px;
}

form {
    display:grid;
    width:100%;
    gap:3em;
    max-width:450px;
    z-index:1;
    background-color:white;

}

label {
    font-size: clamp(1rem, 0.6875rem + 1vw, 1.25rem);
    color:hsl(278, 68%, 11%);
    
}




.input-flex {
    display:flex;
    flex-direction: column;
}

label, button {
    text-transform: uppercase;
}



.M-Y-CVC-Wrap {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.M-Y-Wrap input {
    width:80px;
}

.M-Y-container > label > span {
    font-size:13px;
}

.CVC-container > input {
    width: clamp(8.75rem, -3.4722rem + 61.1111vw, 15.625rem);;
}


input[placeholder]{
    font-size:18px;
    color:hsl(279, 6%, 55%);
}

input[type="text"] {
    padding: 5px;
}

button {
    padding:1.5em 1em;
    background-color:hsl(278, 68%, 11%);
    color:white;
    letter-spacing: 2px;
    border-radius:10px;
    border:none;
    outline:transparent;
    cursor:pointer;
}



body {
    background-image: url(./images/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-size: 100% 30%;
    background-position: center top;
}

@media(min-width:1230px){
    body {
        background-image: url(./images/bg-main-desktop.png);
        background-repeat: no-repeat;
        background-size: 30% 100%;
        background-position: left;
    }

    .content-container {
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

@media(min-width:420px){

    .card {
        width:340px;
    }


    .credit-card {
        transform: translate(-40px, -50px);
    }
    
    .cvc-card {
        transform: translate(20px, 40px);
    }
    

    .card-cvc-info {
        left:260px;
    }
}

@media(min-width:1230px){
    .content-container {
        flex-direction: row;
        justify-content: center;
        gap:0em;
    }

    .card-wrap{

        position:relative;
        right:130px;
        flex-direction: column-reverse;
    }

  

    .card-cvc-info {
        top:50px;
        left:300px;
        font-size:18px;
    }

    .card {
        width:400px;
        height:210px;
        bottom:0px;
    }

    .credit-card > .credit-card-logo {
        width:90px;
    }

    .credit-card-info-wrap > P {
        font-size:27px;
        white-space:nowrap;
    }

    .card-info > p {
        font-size:16px;
    }

    .card-wrap {
        display:flex;
        gap:2em;
    }


    .credit-card {
        transform: translate(-0px, 0px);
    }
    
    .cvc-card {
        transform: translate(0px, 0px);
    }
}

@media(min-width:1440px){
    .credit-card {
        transform: translate(-80px, 0px);
    }
    
    .cvc-card {
        transform: translate(50px, 0px);
    }
}


@keyframes border-animation {
    0% {
        border-color: var(--input-active-start);
    }
    100% {
        border-color: var(--input-active-end);
    }
}

.thank-you-container {
    display:none;
    flex-direction: column;
    text-align:center;
    align-items: center;
    justify-content: center;
    width:100%;
    max-width:450px;
    gap:3em;
}




.thank-you-container h1 {
    font-weight:500;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom:0.3em;
}

.thank-you-container p {
    color:hsl(279, 6%, 55%);
    font-size:20px;
}


.thank-you-container > button {
    width:92%;
}




input {
    height:50px;
    width:100%;
    outline:transparent;
    border-radius:10px;
    border:2px solid hsl(270, 3%, 87%);
    transition: border-color 0.3s ease-in-out;
}

input:focus {
    border-color: var(--input-active-end);
    animation: border-animation 0.5s  alternate ease-in-out;
}

.valid{
    border:2px solid rgb(22, 184, 22) ;
}

.valid:focus {
    border-color: hsl(145, 77%, 51%);
    animation: border-animation 0.5s  alternate ease-in-out;
}

.invalid {
    border:2px solid red;
}

.invalid:focus {
    border:2px solid red;
}

